<h1>@<%= @tweeter.screen_name %></h1>

<h2>Most favorited</h2>

<ul>
  <% @most_favorited_tweeters.each do |screen_name, favs| %>
    <li><strong>@<%= screen_name %></strong> (<%= favs %>)</li>
  <% end %>
</ul>

<h2>Most retweeted</h2>

<ul>
  <% @most_retweeted_tweeters.each do |screen_name, rts| %>
    <li><strong>@<%= screen_name %></strong> (<%= rts %>)</li>
  <% end %>
</ul>
