<h1>@<%= @tweeter.screen_name %></h1>

<h2>Favorite tweeter: @<%= @favorite_tweeter.screen_name %></h2>

<p>
  <%= pluralize(@favorite_tweeter.favs_count, "favorite") %>,
  <%= pluralize(@favorite_tweeter.retweets_count, "retweet") %>
  (total score: <%= @favorite_tweeter.score %>)
</p>

<h3>Most favorited</h3>

<ul>
  <% @most_favorited_tweeters.each do |screen_name, favs| %>
    <li><strong>@<%= screen_name %></strong> (<%= favs %>)</li>
  <% end %>
</ul>

<h3>Most retweeted</h3>

<ul>
  <% @most_retweeted_tweeters.each do |screen_name, rts| %>
    <li><strong>@<%= screen_name %></strong> (<%= rts %>)</li>
  <% end %>
</ul>
